.header-style{
    text-align: center;

}


.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-radius: 10px;
}

.cards{
    
    border: 1px solid #160101;
    border-radius: 10px;
    background-color: #f4f1f1;
    margin: 10px;
    text-align: center;
    
}


.footer-style{
    border: 1px solid black;
    background-color: #160101;
    color: white;
    text-align: center;
}

@media (min-width: 993px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}